<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <title>Uczelnia</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width,initial-scale=1"/>

</head>

<body>
    <header>
        <h1>Uczelnia</h1>
        <img src="/images/logo.png" alt="Uczelnia Logo" class="logo">
    </header>

    <nav>
        <ul class="nav nav-pills">
            <li><a href="/index">Strona główna</a></li>
            <li><a href="/student/showList" class="active">Studenci</a></li>
            <li><a href="/group/showList" >Grupy</a></li>
            <li><a href="/subject/showList">Przedmioty</a></li>
        </ul>
    </nav>

    <main>
                <h2>Szczegóły studenta</h2>

                <table class="table table-hover align-content-center">
                    <tr>
                        <th>Id studenta</th>
                        <th>Imie</th>
                        <th>Nazwisko</th>
                        <th>Saldo</th>
                        <th>PESEL</th>
                        <th>Numer telefonu</th>
                        <th>Email</th>
                        <th>Numer Grupy</th>
                        <th>Opiekun</th>
                    </tr>
                    <tbody>
                        <tr th:object="${student}">
                            <td th:text="${student.id}"></td>
                            <td th:text="${student.name}"></td>
                            <td th:text="${student.surname}"></td>
                            <td th:text="${student.balance}"></td>
                            <td th:text="${student.PESEL}"></td>
                            <td th:text="${student.phoneNumber}"></td>
                            <td th:text="${student.email}"></td>
                            <td th:text="${student.group.groupNumber}"></td>
                            <td th:text="${student.group.attendant}"></td>
                        </tr>
                    </tbody>
                </table>

        <p><a href="/student/showList" class="btn btn-success">Powrót do listy</a></p>

    </main>

    <footer>
        Juliusz, Korczewski, s20658
    </footer>
</body>

</html>


