<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Uczelnia</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>

    <meta name="viewport" content="width=device-width,initial-scale=1"/>

</head>

<body>
<header>
    <h1>Uczelnia</h1>
    <img src="/images/logo.png" alt="Uczelnia Logo" class="logo">
</header>

<nav>
    <ul class="nav nav-pills">
        <li><a href="/index.html">Strona główna</a></li>
        <li><a href="list.html" class="active">Studenci</a></li>
        <li><a href="">Grupy</a></li>
        <li><a href="">Przedmioty</a></li>
    </ul>
</nav>

<main>
    <h2>Nowy student</h2>

    <form action="#" th:action="@{/student/add}" th:object="${student}" method="post">
        <div class="mb-3">
            <label for="name">Imię: *</label>
            <input type="text" th:field="*{name}" name="name" placeholder="Name" class="form-control" id="name" required>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div class="mb-3">
            <label for="lastName">Nazwisko: *</label>
            <input type="text" th:field="*{surname}" placeholder="Surname" class="form-control" name="lastName"
                   id="lastName" required>
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{name}"></span>
        </div>

        <div class="mb-3">
            <label for="balance">Saldo: *</label>
            <input type="number" th:field="*{balance}" placeholder="Balance" class="form-control" name="balance"
                   id="balance" required>
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{balance}"></span>
        </div>

        <div class="mb-3">
            <label for="pesel">PESEL: *</label>
            <input type="text" th:field="*{PESEL}" placeholder="PESEL" class="form-control" maxlength="11"
                   minlength="11" name="pesel" id="pesel" required>
            <span th:if="${#fields.hasErrors('PESEL')}" th:errors="*{PESEL}"></span>
        </div>

        <div class="mb-3">
            <label for="phoneNumber">Numer telefonu:</label>
            <input type="number" th:field="*{phoneNumber}" placeholder="PhoneNumber" class="form-control" maxlength="9"
                   minlength="9" name="phoneNumber" id="phoneNumber">
            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
        </div>

        <div class="mb-3">
            <label for="email">Email: *</label>
            <input type="email" th:field="*{email}" placeholder="Email" class="form-control" name="email" id="email"
                   required>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>

        <div class="mb-3">
            <label for="email">Grupa: *</label>
            <select class="form-select" th:field="*{group}" name="group" id="group" placeholder="Group">
                <!--<option selected>Wybierz numer grupy</option>-->
                <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.groupNumber}"></option>
            </select>
            <span th:if="${#fields.hasErrors('group')}" th:errors="*{group}"></span>
        </div>


        <div class="text-center">
            <p id="errorSummary"></p>
            <input class="btn btn-success w-12 center" type="submit" value="Dodaj"/>
            <a class="btn btn-danger w-12" href="/student/showList">Anuluj</a>
        </div>
    </form>

</main>

<footer>
    Juliusz, Korczewski, s20658
</footer>
</body>

</html>