<!DOCTYPE html>
<html lang="pl-PL">

<head>
  <meta charset="UTF-8">
  <title>Uczelnia</title>
</head>

<body>
<header>
  <h1>Uczelnia</h1>
  <img src="images/logo.png" alt="Uczelnia Logo">
</header>

<nav>
  <ul>
    <li><a href="">Strona główna</a></li>
    <li><a href="">Studenci</a></li>
    <li><a href="">Grupy</a></li>
    <li><a href="">Przedmioty</a></li>
  </ul>
</nav>

<main>
  <h2>Edycja studenta</h2>

  <form>
    <label for="firstName">Imię: *</label>
    <input type="text" name="firstName" id="firstName" required>
    <span id="errorFirstName">Pole jest wymagane</span>

    <label for="lastName">Nazwisko: *</label>
    <input type="text" name="lastName" id="lastName" required>
    <span id="errorLastName">Pole jest wymagane</span>

    <label for="balance">Saldo: *</label>
    <input type="number" name="balance" id="balance" required>
    <span id="errorBalance">Pole jest wymagane</span>

    <label for="pesel">PESEL: *</label>
    <input type="text" maxlength="11" minlength="11" name="pesel" id="pesel" value="90121287659" required>
    <span id="errorPesel">Pole jest wymagane oraz wymaga 11 znaków</span>

    <label for="phoneNumber">Numer telefonu:</label>
    <input type="number" maxlength="9" minlength="9" name="phoneNumber" id="phoneNumber" value="563625896">
    <span id="errorPhoneNumber">Pole wymaga 9 liczb</span>

    <label for="email">Email: *</label>
    <input type="email" name="email" id="email" value="jan.kowalski@example.com" required>
    <span id="errorEmail">Pole jest wymagane</span>

    <div>
      <p id="errorSummary">Formularz zawiera błędy</p>
      <input type="submit" value="Dodaj" />
      <a href="">Anuluj</a>
    </div>
  </form>

</main>

<footer>
  Juliusz, Korczewski, s20658
</footer>
</body>

</html>