<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <title>Uczelnia</title>
</head>

<body>
    <header>
        <h1>Uczelnia</h1>
        <img src="images/logo.png" alt="Uczelnia Logo">
    </header>

    <nav>
        <ul>
            <li><a href="">Strona główna</a></li>
            <li><a href="">Studenci</a></li>
            <li><a href="">Grupy</a></li>
            <li><a href="">Przedmioty</a></li>
        </ul>
    </nav>

    <main>
        <h2>Lista studentów</h2>

        <p>Brak rekordów do wyświetlenia</p>

        <p><a href="">Dodaj nowego pracownika</a></p>

    </main>

    <footer>
        Juliusz, Korczewski, s20658
    </footer>
</body>

</html>