<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <title>Uczelnia</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width,initial-scale=1"/>

</head>

<body>
    <header>
        <h1>Uczelnia</h1>
        <img src="/images/logo.png" alt="Uczelnia Logo" class="logo">
    </header>

    <nav>
        <ul class="nav nav-pills">
            <li><a href="/index">Strona główna</a></li>
            <li><a href="/student/showList" >Studenci</a></li>
            <li><a href="/group/showList" >Grupy</a></li>
            <li><a href="/subject/showList" class="active">Przedmioty</a></li>
        </ul>
    </nav>

    <main>
                <h2>Szczegóły przedmiotu</h2>

                <table class="table table-hover align-content-center">
                    <tr>
                        <th>Id przedmiotu</th>
                        <th>Nazwa przedmiotu</th>
                        <th>Skrót</th>
                        <th>Akcje</th>
                    </tr>
                    <tbody>
                    <tr th:each="subject : ${subjects}">
                        <td th:text="${subject.id}"></td>
                        <td th:text="${subject.subjectName}"></td>
                        <td th:text="${subject.abbreviation}"></td>
                    </tr>
                    </tbody>
                </table>

        <p><a href="/subject/showList" class="btn btn-success">Powrót do listy</a></p>

    </main>

    <footer>
        Juliusz, Korczewski, s20658
    </footer>
</body>

</html>


