<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <title>Uczelnia</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width,initial-scale=1"/>

</head>

<body>
    <header>
        <h1>Uczelnia</h1>
        <img src="/static/images/logo.png" alt="Uczelnia Logo" class="logo">
    </header>

    <nav>
        <ul class="nav nav-pills">
            <li><a href="index.html" class="active">Strona główna</a></li>
            <li><a href="/student/showList">Studenci</a></li>
            <li><a href="">Grupy</a></li>
            <li><a href="">Przedmioty</a></li>
        </ul>
    </nav>

    <main>
        <h2>Strona główna</h2>
        <p>Uczelnia to w Polsce jednostka organizacyjna państwowa, samorządowa lub prywatna działająca na podstawie przepisów ustawy Prawo o szkolnictwie wyższym i nauce lub, w przypadku uczelni kościelnych, na podstawie umowy rządu z władzami odpowiedniego Kościoła. W polskim systemie edukacji jest to szkoła kształcąca absolwentów liceów i techników, którzy zdali egzamin maturalny. Studia pierwszego stopnia kończą się nadaniem tytułu zawodowego licencjata lub inżyniera, drugiego stopnia zaś magistra lub magistra inżyniera. Niektóre kierunki mają jednak formę jednolitych studiów magisterskich i kończą się one uzyskaniem tytułu magistra albo lekarza, lekarza dentysty lub lekarza weterynarii. Ukończenie studiów drugiego stopnia lub jednolitych studiów magisterskich pozwala kontynuować naukę w szkole doktorskiej.

            Poszczególne wydziały uczelni mogą być uprawnione do nadawania stopni naukowych doktora oraz doktora habilitowanego. Uczelnia posiadająca co najmniej jedną kategorię naukową A, A+ lub B w co najmniej jednej dyscyplinie naukowej lub artystycznej ma status uczelni akademickiej, a niespełniająca tego warunku status uczelni zawodowej[2].

            Poszczególne kierunki studiów na uczelniach podlegają akredytacji polegającej na sprawdzeniu, czy dany kierunek odpowiada przewidzianym dla niego standardom kształcenia. Instytucją odpowiedzialną za akredytację szkolnictwa wyższego w Polsce jest Polska Komisja Akredytacyjna. Ponadto uczelnie prowadzą studia podyplomowe, a także działalność naukową.</p>
    </main>

    <footer>
        Juliusz, Korczewski, s20658
    </footer>

    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>