<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Uczelnia</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/css/style.css" rel="stylesheet"/>

  <meta name="viewport" content="width=device-width,initial-scale=1"/>

</head>

<body>
  <header>
    <h1>Uczelnia</h1>
    <img src="/images/logo.png" alt="Uczelnia Logo" class="logo">
  </header>

  <nav>
    <ul class="nav nav-pills">
      <li><a href="/index" class="active">Strona główna</a></li>
      <li><a href="/student/showList">Studenci</a></li>
      <li><a href="/group/showList">Grupy</a></li>
      <li><a href="">Przedmioty</a></li>
    </ul>
  </nav>

  <main>
    <h2>Edycja grupy</h2>

    <form action="#" th:action="@{/group/update/{id}(id=${group.id})}" th:object="${group}" method="post">
      <div class="mb-3">
        <label for="attendant">Opiekun: *</label>
        <input type="text" th:field="*{attendant}" name="attendant" placeholder="Attendant" class="form-control" id="attendant" required>
        <span th:if="${#fields.hasErrors('attendant')}" th:errors="*{attendant}"></span>
      </div>

      <div class="mb-3">
        <label for="groupNumber">Numer grupy: *</label>
        <input type="text" th:field="*{groupNumber}" placeholder="GroupNumber" class="form-control" name="groupNumber"
               id="groupNumber" required>
        <span th:if="${#fields.hasErrors('groupNumber')}" th:errors="*{groupNumber}"></span>
      </div>

      <!--            <div class="mb-3">
                      <label for="subject">Przedmioty: *</label>
                      <select class="form-select" th:field="*{groupSubjectSet}" name="groupSubjectSet" id="groupSubjectSet"
                              placeholder="GroupSubjectSet">
                          <option selected>Wybierz przedmioty</option>
                          <option th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.subjectName}"></option>
                      </select>
                      <span th:if="${#fields.hasErrors('group')}" th:errors="*{group}"></span>
                  </div>-->


      <div class="text-center">
        <p id="errorSummary"></p>
        <input class="btn btn-success w-12 center" type="submit" value="Dodaj"/>
        <a class="btn btn-danger w-12" href="/group/showList">Anuluj</a>
      </div>
    </form>


  </main>

  <footer>
    Juliusz, Korczewski, s20658
  </footer>
</body>

</html>