<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <title>Uczelnia</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width,initial-scale=1"/>

</head>

<body>
    <header>
        <h1>Uczelnia</h1>
        <img src="/images/logo.png" alt="Uczelnia Logo" class="logo">
    </header>

    <nav>
        <ul class="nav nav-pills">
            <li><a href="/index">Strona główna</a></li>
            <li><a href="/student/showList">Studenci</a></li>
            <li><a href="/group/showList" class="active">Grupy</a></li>
            <li><a href="/subject/showList">Przedmioty</a></li>
        </ul>
    </nav>

    <main>
        <div th:switch="${groups}">
            <h2 th:case="null">No groups yet!</h2>
            <div th:case="*">
                <h2>Lista grup</h2>

                <table class="table table-hover align-content-center">
                    <tr>
                        <th>Id grupy</th>
                        <th>Numer grupy</th>
                        <th>Opiekun</th>
                        <th>Akcje</th>
                    </tr>
                    <tbody>
                        <tr th:each="group : ${groups}">
                            <td th:text="${group.id}"></td>
                            <td th:text="${group.groupNumber}"></td>
                            <td th:text="${group.attendant}"></td>
                            <td class="text-center">
                                <a th:href="@{/group/details/{id}(id=${group.id})}" class="btn btn-info m-lg-1 w-25">Szczegóły</a>
                                <a th:href="@{/group/edit/{id}(id=${group.id})}" class="btn btn-warning m-lg-1 w-25">Edytuj</a>
                                <a th:href="@{/group/delete/{id}(id=${group.id})}" class="btn btn-danger m-lg-1 w-25">Usuń</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <p><a href="/group/form" class="btn btn-success">Dodaj nową grupę</a></p>

    </main>

    <footer>
        Juliusz, Korczewski, s20658
    </footer>
</body>

</html>


